<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        {% load static %}
        <link href="{% static 'review/style.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <div class="header__logo">
                <img class="header__logo__image" src="{% static 'review//pictures/logo.png' %}" alt="logo">
                <span class="header__logo__title">LITReview</span>
            </div>
            <div class="header__page">
                {% block header_page %}
                {% endblock %}
            </div>
            <div class="header__nav">
                {% if request.user.is_authenticated %}
                    <ul class="header__nav__list">
                        <li>
                            <a href="{% url 'feed' %}">Flux</a>
                        </li>
                        <li>
                            <a href="{% url 'posts' %}">Posts</a>
                        </li>
                        <li>
                            <a href="{% url 'subscription' %}">Abonnements</a>
                        </li>
                        <li>
                            <a href="{% url 'userlogout' %}">Se déconnecter</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </header>
        <div class="header__block">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>

