<!DOCTYPE html>
<html lang="en">
{% extends "base2.html" %} {% block content %}
{%if ticket %}
    {% for ticket in ticket %}
        <article class="media content-section">
            <div class="media-body">
                <h2><a class="article-title" href="#">{{ ticket.title }}</a></h2>
                <h2><a class="article-title" href="#">{{ ticket.description }}</a></h2>
                <h2><a class="article-title" href="#">{{ ticket.user }}</a></h2>
                <h2><a class="article-title" href="#">{{ ticket.image }}</a></h2>
                <img src="{{ ticket.image }}">
                <h2><a class="article-title" href="#">{{ ticket.time_created }}</a></h2>
                <button class="button-review" type="submit" >Envoyer</button>
                <button class="button-review" type="submit" >Modifier</button>

                <form method="post_crit" enctype="multipart/form-data">
                {{ ticket.as_p }}
                {% csrf_token %}
                <button type="submit" >Envoyerrrrrrrrrr</button>
                </form>

                <form action="/ticket/" method="post">
                    {% csrf_token %}
                    {{ ticket_form.as_p }}
                    {{ author_form.as_p }}
                <input type="submit" value="submit">
                </form>

                <div class="article-metadata">
                    <small class="article-author">{{ ticket.author }}, </small>
                    <small class="article-date">{{ note.creation_date }}</small>
                </div>
                <p class="article-content">{{ note.content }}</p>
            </div>
        </article>
    {% endfor %}
{% else %}
       <h5 class="alert alert-warning">Vous n'avez pas encore de notes !</h5>
{% endif %}
{% endblock %}
